<% if flash[:notice] %>
 <p id=notice><%= flash[:notice] %></p>
<% end %>

<p><strong>Title:</strong> <%= @book.title %><br></p>
<p><strong>Body:</strong> <%= @book.body %><br></p>
<%= link_to "Edit", edit_book_path(@book) %> | 
<%= link_to "Back", books_path %>